body {
  margin: 0;
  padding: 0;
}

#products {
  display: flex;
  justify-content: space-around;
}

#modal_container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#modal_window {
  max-width: 80vw;
}

.hidden {
  visibility: hidden;
}
#closebutton {
  cursor: pointer;
}
