#clock {
  background-color: black;
  color: red;
  font-size: 90px;
  display: flex;
}
#clock > span {
  display: flex;
}

.digit {
  background-image: url(images/7segment.jpg);
  width: 80px;
  height: 134px;
}

.digit0 {
  background-position: 0px 0px;
}

.digit1 {
  background-position: -100px 0px;
}
.digit2 {
  background-position: -200px 0px;
}
.digit3 {
  background-position: -300px 0px;
}
.digit4 {
  background-position: -400px 0px;
}

.digit5 {
  background-position: 0px -133.3px;
}
.digit6 {
  background-position: -100px -133px;
}
.digit7 {
  background-position: -200px -133.3px;
}
.digit8 {
  background-position: -300px -133.3px;
}
.digit9 {
  background-position: -400px -133.3px;
}
